/**********************************
RESETTING CSS
***********************************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
     pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
     q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
     dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
     thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
     footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
     audio, video {
         margin: 0;
         padding: 0;
         border: 0;
         font-size: 100%;
         vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
     nav, section {
         display: block;
}
body {
         line-height: 1.2;
}
ol {
         padding-left: 1.4em;
         list-style: decimal;
}

ul {
         padding-left: 1.4em
         list-style: square;
}

table {
         border-collapse: collapse;
         border-spacing: 0;
}


/**********************************
BODY
***********************************/

* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#container {
    position: fixed;
    min-width: 375px;
    min-height: 400px;
    height: 100%;
    width: 100%;
    margin: 0 auto;

}

#container {
    background-image: url(marquee-stars.svg);
    background-color: #07306B;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/**********************************
CONTROLS
***********************************/

button, submit {
    border:none;
    font-size: 2em;   
}

.textbox {
    background-color: #9B9B9B;
    min-width: 200px;
    min-height: 100px;
    width: 100%;
    font-size: .5em;
    padding: 6% 6% 6% 6%;
    margin-right: 5%;
    border-radius: 40px;
    top: 280px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

input[type="number"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
}

input[type="number"]:focus,
input[type="number"].focus {
  border: solid 5px #969696;
}

button {
    color: #F9D510; 
    background-color: #9B9B9B;
    border: none;
    display: block;
    margin : 0 auto;
}

button:hover,
button.hover {
  background-color: #767873;
}

button:active,
button.active {
  background-color: #767873;
}
/**********************************
FORM
***********************************/
h2 {
    font-size: 1.5em;
    text-align: center;
    color: #F9D510;
}

#number_form button {
    font-size: 1em;
    margin: 5px 5px 5px 0px;
    margin: 20px auto;
}

#number_form submit {
    font-size: 1em;
    margin: 5px 5px 5px 0px;
    
}
.textbox {
    color: #F9D510;
}

input[type="number"] {
    display: block;
    margin: 0 auto;
}

#number {
    font-size:25px;
}

/**********************************
HEADER
***********************************/
header {
    background-color: #4A4C54;
    height: 15%;
    min-height: 15%;
}

h1 {
    text-align: center;
    padding: 2% 5% 0% 5%;
    font-size: 2.7em;
    color: #F9D510;
}

/**********************************
FOOTER
***********************************/
footer {
    background-color: #4A4C54;
    width:100%;
    height:15%;
    min-height: 15%;
    color: #F9D510;
}

footer a:link {
    color: #F9D510;
    text-decoration: none;
}

a:visited {
    color: #F9D510;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #F9D510;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #F9D510;
    text-decoration: none;
}

#sociallinks {
    width: 80%;
    margin: 0 auto;
    font-size: 1.6em;
}


/**********************************
RESPONSIVE - tried to get something for iphone 6 and chrome browser
***********************************/
@media screen and (max-width: 999px){
    #content {
        padding: 0px 50px 0px 50px;
        min-width: 100%;
        min-height: 70%;
        background-image: url(MarvinNoText.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
        margin-top: 5px;
        background-size: 25% 25%;
        font-size: 3em;
    }
    
    #number_form {        
        min-width: 200px;
        line-height: 1.5;
        padding-left: 0px;
    }
    
    #container {
        overflow: scroll;
    }
    
    footer {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1000px){
    #content {
        padding: 0px 50px 0px 50px;
        min-width: 100%;
        min-height: 70%;
        background-image: url(MarvinNoText.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
        margin-top: 5px;
        background-size: 60% 60%;
        font-size: 2em;
    }
    
    .textbox:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 450px;
        border: 40px solid;
        border-color: #9B9B9B transparent transparent #9B9B9B;
        top: 240px;
    }
    
    #number_form {
        min-width: 200px;
        line-height: 1.5;
        padding-left: 150px;
    }
    
    footer {
        text-align: center;
        font-size: 1.3em;
    }
}

/**********************************
TO RID THE AUTOFOCUS - doesn't seem to work
***********************************/
input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
	font-size: 16px;
}

/* disable auto-zoom on iphone input field focus */
@media screen and (-webkit-min-device-pixel-ratio:0) {

	select:focus,
	textarea:focus,
	input:focus {
		font-size: 16px;
	}
}

#previousguess {
    height: 50px;
}

div .guessnode {
    box-sizing: border-box;
    width: 20%;
    margin: 0;
    display:inline;
    float:left;
    font-weight: bold;
    text-align: center;
    color: #F9D510;
    border-right: solid;
    border-left: solid;
}

div .cold {
    background-color: #07306B;
}

div .hot {
    background-color: #7f0000;
}






